@charset "utf-8";

.row{
    display: flex;
}

/* common - bg */
.bg-white{
    background-color: #fff !important;
}

/* common - ico */
[class*=bill-ico-]{
    display: block;
    position: absolute;
    left: -3rem;
    top: -.3rem;
    background:#ddf1ff;
    background-image:none;
    width:2.375rem;
    height:2.375rem;
    border-radius: 50%;
    background-size: contain;
}
.bill-ico-all{
    background-color: #d9f7f2;
}
.bill-ico-kb{
    background-image:url(../images/common/bill-ico-kb.png);
}
.bill-ico-nh{
    background-image:url(../images/common/bill-ico-nh.png);
}
.bill-ico-ss{
    background-image:url(../images/common/bill-ico-ss.png);
}

.my-home #header, .my-datas #header{
    justify-content: center;
}

/* container */
#container .page-title{
    padding:1.5rem 0;
    display: flex;
    flex-flow: column;
}
#container .page-title em{
    color:#222;
    font-size: 0.95rem;
}
#container .page-title strong{
    font-size: 1.6rem;
}
#container .page-title .price{
    padding-right:0.5rem;
}

/* data-month-selec */
.data-month-selec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#666;
    padding-top:2rem;
}
.data-month-selec .month-tab {
    display: flex;
    align-items: center;
}
.data-month-selec .month-tab .ico-fold{
    margin-left:.5rem;
}
.data-month-selec .month-in{
    font-size: 0.8rem;
    color:#aaa;
}

/* bill-list */
.card.bill-info .card-body{
    padding-bottom: 0;
}
.card.bill-info .bill-list li>dl{
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
}
.card.bill-info .bill-list li>dl dt{
    position: relative;
    flex-basis: 55%;
}
.card.bill-info .bill-list li>dl dd{
    flex-basis: 45%;
}
.card.bill-info .bill-list li .bill-price{
    font-size: 1rem;
}
.card.bill-info .bill-list > ul > li::before{
    content: unset;
}
.card.bill-info .bill-list > ul > li{
    padding-left: 0;
    padding-bottom: 0;
}
.card.bill-info .bill-list .accordion>li{
    border-bottom: 1px solid #eee;
}
.card.bill-info .bill-list .accordion>li:last-child{
    border-bottom: 0;
}
.card.bill-info .bill-list .accordion .dtl{
    display: none;
}
.card.bill-info .bill-list .accordion .tit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:1.6rem;
    padding-bottom:1.4rem;
    position: relative;
    border-bottom: #f5f5f5;
    color: #666;
}
.card.bill-info .bill-list .accordion .tit .assets-price{
    margin-right:1rem;
    font-weight: normal;
    font-size: 0.9rem;
}
.card.bill-info .bill-list .accordion .tit .ico-fold{
    position:absolute;
    right:0;
    top: 1.95rem;
}
.accordion .tit .ico-fold.fold{
    transform: rotate(-180deg);
}
.accordion .dtl{
    display: none;
}
.card.bill-info .bill-list .accordion .tit.payment-amount{
    color:#222;
}
.card.bill-info .bill-list .accordion .tit.off-price .assets-price::before{
    content: '-';
}
.card.bill-info .bill-list .accordion>li:last-child>.dtl{
    padding-bottom: 1.3rem;
}
.card.bill-info .bill-list .dtl>ul{
    background:#f7f7f9;
    padding: 0 1rem;
}
.card.bill-info .bill-list .dtl>ul>li .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}
.card.bill-info .bill-list .dtl>ul>li:last-child .info{
    border-bottom: 0;
}
.card.bill-info .bill-list .dtl .name{
    font-weight: 500;
}
.card.bill-info .bill-list .dtl .won{
    font-weight: normal;
}
.card.bill-info .bill-list .info-inner>ul>li{
    border-bottom:1px solid #eee;
    padding:0.7rem;
}
.card.bill-info .bill-list .info-inner [class*=inner-]{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card.bill-info .bill-list .info-inner .inner-title{
    color:#777;
}
.card.bill-info .bill-list .info-inner .inner-desc{
    padding-top:0.5rem;
    font-size: 0.8rem;
    color:#aaa;
}

.month-selec-list .form-radio{
    width: 100%;
}
.month-selec-list .form-radio input[type="radio"] + label{
    width: 100%;
    padding-left:0;
    padding-right:1.875rem;
    color:#777;
    margin-bottom:1rem;
}
.month-selec-list .form-radio input[type="radio"] + label:before{
    left:unset;
    right:0;
    display: none;
}
.month-selec-list .form-radio input[type="radio"] + label:after{
    left:unset;
    right: 6px;
}
.month-selec-list .form-radio input[type="radio"]:checked + label{
    font-weight: 600;
}
.month-selec-list .form-radio input[type="radio"]:checked + label:after{
    background: url(../images/common/ico-select-chk.png) no-repeat center/auto 60%;
    width: 36px;
    height: 24px;
}

.scroll-container{
    overflow-y: auto;
    height:230px;
}

.dimmed .data-month-selec .ico-fold{
    transform: rotate(-180deg);
}

/* 버튼 텍스트 only */
.btn-area{
    margin-top:1.5rem;
}
.btn-area .btn-txt{
    border-bottom: 1px solid #777;
    color:#777;
}

/* 카드상세정보 */
.mya-detail-info [class*=bill-ico-]{
    position: unset;
    margin:0 .5rem 0 0;
}
.mya-detail-info.type-gray{
    margin-top:1.5rem;
}
.mya-detail-info .detail-title{
    display: flex;
    align-items: center;
    border-bottom:1px solid #e2e2e2;
    padding:1.5rem 0;
    margin-bottom:1.5rem;
}
.mya-detail-info .detail-title.column{
    flex-flow: column;
    align-items: flex-start;
}
.mya-detail-info .detail-title .detail-price{
    text-align: right;
    width: 100%;
    font-weight: 600;
    font-size: 1.3rem;
margin-top: .7rem;}
.mya-detail-info .detail-txt{
    display: flex;
    flex-flow: column;
}
.mya-detail-info .detail-txt .txt-tit{
    font-weight: 600;
}
.mya-detail-info .detail-txt .txt-tit-num{
    color:#777;
    font-size: .85rem;
    margin-top: .3rem;
    border-bottom:0;
}
.mya-detail-info .detail-txt .txt-tit-num.copy-num{
    border-bottom: 1px solid #777;
    width: fit-content;
}
.mya-detail-info .detail-li-loop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:1.5rem;
    font-size:.9rem;
}

.mya-detail-info.type-gray>dl{
    background-color: #f2f3f7;
    padding:0 1.5rem 1.2rem;
    border-radius: 8px;
}
.mya-detail-info.type-gray .detail-li-loop{
    margin-bottom:.8rem;
}
.mya-detail-info.type-gray .detail-li-loop .detail-li-tit{
    color:#999;
}


/* tab menu */
[class^='my-'] .tab-wrp{
    margin-top:1.5rem;
}
.tab-wrp .tab-cont,
.tab-wrp .inner-tab-cont{
    display: none;
    width: 100%;
}
.tab-wrp .focused{
    display: block;
}
.tab-wrp .tab-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}
.tab-wrp .tab-menu>li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding:.8rem;
    font-size: .85rem;
    color:#444;
}
.tab-wrp .tab-menu>li.focused{
    background-color: #5ccbdf;
    color:#fff;
    border:1px solid #5ccbdf;
    border-radius: 5px;
    margin:-1px;
}
.tab-wrp .tab-menu>li a{
    color:#444;
}
.tab-wrp .tab-menu>li.focused a{
    color:#fff;
}
.tab-wrp .inner-tab{
    display: flex;

}
.tab-wrp .inner-tab>li{
    padding:0 1rem;
    position: relative;
}
.tab-wrp .inner-tab>li::after{
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    right: 0;
    width: 1px;
    height: .8rem;
    background-color: #ddd;
}
.tab-wrp .inner-tab>li:last-child::after{
    display: none;
}
.tab-wrp .inner-tab>li a{
    color:#111;
    font-size: .85rem;
    padding-bottom:.4rem;
}
.tab-wrp .inner-tab>li.focused>a{
    font-weight: 600;
    border-bottom:3px solid #5ccbdf;
}
.tab-wrp .mya-detail-info{
    background: #f5f5f5;
    width: 100%;
    padding: 0 1.5rem .8rem;
    border-radius: .5rem;
    margin-top:1.5rem;
}
.tab-wrp .mya-detail-info .detail-title{
    border-bottom:0;
    margin-bottom: 0;
    padding-bottom: 0.9rem;
}
.tab-wrp .mya-detail-info .detail-li-loop{
    margin-bottom: .6rem;
    font-size: .8rem;
}
.tab-wrp .mya-detail-info .detail-li-loop .detail-li-tit{
    color:#777;
}
.tab-wrp .mya-detail-info .price-up{
    color:#ff0000;
}
.tab-wrp .mya-detail-info .price-up::before{
    content: '▲';
}
.tab-wrp .mya-detail-info .price-down{
    color:#0d40ff;
}
.tab-wrp .mya-detail-info .price-down::before{
    content: '▼';
}
.tab-wrp .day-schedule-wrp{
    padding:0;
}

.tab-wrp .tab-date{
    font-size: .8rem;
    margin-bottom:1.5rem;
}
.tab-wrp .tab-date .ico-fold{
    margin-left:1rem;
}

/* tab-wrp day-schedule-wrp */
.tab-wrp .day-schedule-wrp .detail-txt.row{
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}
.tab-wrp .day-schedule-wrp .mya-detail-info .detail-txt{
    margin-top: .5rem;
}
.tab-wrp .day-schedule-wrp .mya-detail-info .detail-txt *{
    font-size: .85rem;
    color:#777;
    font-weight: 400;
}
.tab-wrp .day-schedule-wrp .mya-detail-info .detail-title .detail-price{
    width: auto;
    font-weight: normal;
    margin-top: 0;
}
.tab-wrp .day-schedule-wrp .mya-detail-info .detail-txt:first-child *{
    font-size: 1rem;
    color:#111;
}
.tab-wrp .day-schedule-wrp .mya-detail-info .detail-title{
    border-bottom:1px solid #ddd;
    padding-bottom:1rem;
    margin-bottom:1rem;
}
.tab-wrp .day-schedule-wrp .mya-detail-info .detail-title.title-only{
    border-bottom: 0;
    padding-bottom: 0;
}



/* .agree-area colorset */
.agree-c-blue .btn-area.fixed-bottom{
    padding:0;
}
.agree-c-blue .btn{
    border-radius: 0;
    height:100%;
}
.agree-c-blue .form-check input[type="checkbox"]:checked + label:before{
    background-color: #5bcade;
}
.agree-c-blue .terms-cont .inner{
    height: calc(100vh - 11rem);
    padding-bottom: 5.25rem;
}
.agree-c-blue .modal-container-header{
    margin-bottom: 0;
}
.agree-c-blue .modal-container-header .title{
    margin:2.5rem 0;
    word-break: keep-all;
line-height: 1.2;}
.agree-c-blue .inner-title{
    margin-bottom:1.2rem;
}
.agree-c-blue .inner-txt{
    border-bottom: 1px solid #e4e4e4;
    padding-bottom:1.2rem;
    margin-bottom:2rem;
    padding-left:.5rem;
    color:#9e9e9e;
    line-height: 1.2;
    word-break: break-all;
    text-align: justify;
}
.agree-c-blue .terms-cont .inner .inner-txt:last-child{
    border-bottom: 0;
    margin-bottom: 4rem;
}
.agree-c-blue .inner-txt dl{
    margin-bottom:1.1rem;
}
.agree-c-blue .inner-txt dt{
    margin-bottom:.7rem;
    color:#111;
}
.agree-c-blue .inner-txt p + dl{
    margin-top:1rem;
}
.agree-c-blue .inner-txt .highlights{
    background-color: #ceeff5;
    color:#111;
    padding:0 .5rem;
    line-height: 1.5;
}
.agree-c-blue .inner-txt ol>li{
    margin-bottom:.5rem;
}
.agree-c-blue .inner-txt table th,
.agree-c-blue .inner-txt table td{
    border:1px solid #ccc;
    font-size: .85rem;
    padding: .5rem;
}
.agree-c-blue .inner-txt table th{
    background-color: #e4e4e4;
    color:#333;
    text-align: center;
}
.agree-c-blue .inner-txt table td{
    word-break: break-all;
}
.agree-c-blue .terms-cont .inner .inner-txt:last-child .inner-txt-desc{
    padding-bottom:4rem;
}
.agree-c-blue .inner-txt-desc ul,
.agree-c-blue .inner-txt ol>li>ul{
    padding: .5rem;
}
.agree-c-blue .inner-txt-desc ul>li,
.agree-c-blue .inner-txt ol>li>ul>li{
    color:#444;
    font-size: .8rem;
    margin-left: .5rem;
    position: relative;
    padding-left: .5rem;
}
.agree-c-blue .inner-txt-desc ul>li::before,
.agree-c-blue .inner-txt ol>li>ul>li::before{
    content: '-';
    position: absolute;
    left: 0;
    top: .1rem;
    display: block;
}
.agree-c-blue .inner-txt-desc ul>li{
    margin-left: 0;
    padding-left:.8rem;
    margin-bottom: .5rem;
}
.agree-c-blue .inner-txt-desc ul>li::before{
    content: '※';
    top:0;
}

/* 알람 */
.alarm-wrp .alarm-on::after{
    content: '';
    display: block;
    width: .5rem;
    height: .5rem;
    position: absolute;
    left:0;
    top: .6rem;
    background-color: red;
    border-radius: 50%;
}
.alarm-wrp .dtl{
    border-radius: .5rem;
    margin-bottom: 1rem;
}
.alarm-wrp .dtl.btn-area{
    background-color: transparent;
    padding: 0;
}
.alarm-wrp .dtl.btn-area .btn{
    font-size: .8rem;
    font-weight: 400;
}
.alarm-wrp .dtl.btn-area .btn{
    letter-spacing: 0;
    height:2.2rem;
    line-height: 2.2rem;
    border-radius: .5rem;
}
.alarm-wrp .ico[class*=ico-]{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-size: 60% auto;
    background-position: center;
}
.alarm-wrp .ico.ico-card-clip{
    background-size: 100% auto;
    border-radius: 0;
}
.alarm-wrp .dtl-inner{
    margin-top:1rem;
    background-color: #fff;
    width: 100%;
    border-radius: .5rem;
    padding-bottom: 1.5rem;
}
.alarm-wrp .dtl>li{
    flex-flow: column;
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
    position: relative;
}
.alarm-wrp .dtl li + li{
    border-top: 0;
}
.alarm-wrp .dtl>li:last-child{
    border-bottom: 0;
}
.alarm-wrp .dtl-title{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.35;
    word-break: keep-all;
}
.alarm-wrp .dtl-title>b{
    color:#111;
}
.alarm-wrp .dtl-title-desc{
    margin-top:.5rem;
    font-size: .85rem;
    max-height:1.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.alarm-wrp .dtl li span > .won{
    display: inline-block;
}
.alarm-wrp .dtl .ico-area{
    flex:0 0 25%;
    max-width: 4rem;
}
.alarm-wrp .dtl .ico-area.trash-area{
    background-color: #f2f3f7;
    margin:-1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alarm-wrp .dtl .title-area{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.alarm-wrp .dtl .ico-area + .title-area{
    flex:0 0 75%;
    max-width: calc(100% - 4rem);
}
.alarm-wrp .dtl-desc-list .dtl-title-desc{
    border-left:1px solid #000;
    padding:0 .5rem;
}
.alarm-wrp .dtl-desc-list .dtl-title-desc:first-child{
    border-left: 0;
    padding-left: 0;
}
.alarm-wrp .dtl .reverse .ico-area + .title-area{
    flex:0 0 93%;
}

/* ico bg colorset */
.alarm-wrp .ico-card,
.alarm-wrp .ico-nike{
    background-color: #d8f9fe;
}
.alarm-wrp .ico-kt{
    background-color: #f3f3f3;
}
.alarm-wrp .ico-coin{
    background-color: #fff3c6;
    background-position-x: 53% !important;
}
.alarm-wrp .ico-cash{
    background-color: #f2f3f7;
}
.alarm-wrp .ico-lego{
    background-color: #fff6d2;
}
.alarm-wrp .ico-trash{
    display:none;
}

/* 알람 없음 */
.alarm-wrp.alarm-none{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: calc(100vh - 10rem);
    color:#666;
}
.alarm-wrp.alarm-none .img-wrp{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee; /* 영역 구분 위한 배경, 단위테스트 때 삭제 */
    width: 100%;
    height: auto;
}
.alarm-wrp.alarm-none .none-msg{
    margin-top:1rem;
}

/* lnb-full */
.lnb-full .lnb>ul{
    justify-content: space-around;
}