@charset "utf-8";

div,h1,h2,h3,h4,h5,h6,p,span,ul,ol,li{
    box-sizing: border-box;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.accordion .dtl{
    display: none;
}

.scroll-x{
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
}

/* sch header */
#header{
    background-color: #fff;
}

main .ico{background-repeat: no-repeat;background-position: center;background-size: contain;}

/* sch cont wrp */
.sch-cont-wrp{
    padding:30px 25px;
}

/* sch cate-wrap */
.cate-wrap{
    position: unset;    
    padding: 0.5rem 1.5rem;
    margin: 1rem auto;
}
.cate-wrap .inner{
    border-bottom: 0;
}
.cate-wrap ul{
    flex-wrap:unset;width: 100%;margin: 0 auto;}
.cate-wrap button{
    width: max-content;
}
.cate-wrap ul>li:last-child{
    padding-right: 30px;
}

.bg-gray{
    background-color: #f2f3f7;
}

/* dateSwiper */
.date-select{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px #eee;
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    margin-left: 0;
    background: #fff;
}
.select-month{
    font-size: 1.3rem;
}
.dateSwiper{
    margin:1.5rem 0;
    width: calc(100% + 3rem);
    height: 100%;
    position: relative;
    overflow: hidden;
    padding:0 1.5rem;
}
.dateSwiper .swiper-slide{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-flow:column;
    color:#c2c2c2;
    font-weight: normal;    
    font-size:0.7rem;
    padding:.8rem .5rem;
    margin-right: .8rem;
}
.dateSwiper .swiper-slide .num{
    font-weight: bold;
    /*border-bottom:2px solid #fff; */
    font-size: 0.9rem;
    color:#333;
    margin-top:10px;
    padding-bottom:2px;
}
.dateSwiper .swiper-slide.focused{
    background-color: #5ccbdf;
    color:#fff;
    border-radius: 1.5rem;
padding: 1rem 1.34rem;}
.dateSwiper .swiper-slide.focused .num{
    color:#fff;
}
.dateSwiper .swiper-button-next, 
.dateSwiper .swiper-container-rtl .swiper-button-prev,
.dateSwiper .swiper-button-prev, 
.dateSwiper .swiper-container-rtl .swiper-button-next{
    background-image: url(../images/common/ico-dateswiper-arrow.png);
    background-size: contain;
    width: 6px;
    height: 10px;
/* left: -10px; */top: 75%;}
.dateSwiper .swiper-button-next,
.dateSwiper .swiper-container-rtl .swiper-button-next{
    transform: rotate(180deg);
/* right: -10px; */left: unset;}


.date-select .btn.btn-primary.white{
    background-color: #FFF;
    border:1px solid #5ccbdf;
    color:#5ccbdf;
    width: 100%;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date-select .btn.btn-primary.white .ico{
    margin-right:.5rem;
}

/* desc-wrp */
.desc-wrp{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    color:#888;
    word-break: keep-all;
}
.desc-wrp .desc-title{
    font-size: 1.2rem;
    display: block;
    color:#111;
    margin:1rem auto;
}
.desc-wrp .desc-txt{
    line-height: 1.5;
    font-size: 0.9rem;
}

/* chart */
.donut-chart{
    padding: 0;
    width: 100%;
    justify-content: space-between;
}
.chart{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    background: conic-gradient(#b1cbe2 0%, #b1cbe2 30%, #d1e4f3 30%, #d1e4f3 100%);
width: 7.5rem;height: 7.5rem;}
.chart::before{
    width: 85%;
    height: 85%;
}
.chart .chart-txt{
    display: block;
    color:#666;
    font-size: 0.65rem;
    font-weight: 300;
    
    line-height: 1.3;
position: relative;margin-bottom: .1rem;}
.chart .chart-cate{
    
position: relative;}

/* my-status budget */
.card.my-assets{
    box-shadow: 0 0 5px #ddd;
    border-radius: 1rem;
    margin: 1.5rem auto;
}
.card.my-assets .chart{
    margin-right: .8rem;
}
.card.my-assets .chart .ico{
    position: relative;
transform: scale(.8);}
.card.my-assets .header-title{
    margin-bottom:1rem;
}
.budget .card .card-body{
    flex-flow: column;
}
.card.my-assets .btn-area{
    width: 100%;
}
.my-status .card-header .won{
    min-width: 7rem;
}

/* day-schedule */
.day-schedule .history .dtl{
    background-color: #f2f3f7;
    border-radius: .5rem;
    margin-bottom: 1rem;
}
.day-schedule .history .dtl.btn-area{
    background-color: transparent;
    padding: 0;
}
.day-schedule .history .dtl.btn-area .btn{
    font-size: .8rem;
    font-weight: 400;
}
.day-schedule .history .dtl.btn-area .btn{
    letter-spacing: 0;
    height:2.2rem;
    line-height: 2.2rem;
    border-radius: .5rem;
}
.day-schedule .history ul > li:after{
    display: block;
    content: "";
    width: 0.125rem;
    background: #f0f0f0;
    height: 100%;
    position: absolute;
    top: 0.625rem;
    left: 0.125rem;
    z-index: 2;
}
.day-schedule .history .ico[class*=ico-]{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #fff;
    background-size: 60% auto;
}
.day-schedule .history .ico.ico-card-clip{
    background-size: 100% auto;
border-radius: 0;}
.day-schedule .history .dtl-inner{
    margin-top:1rem;
    background-color: #fff;
    width: 100%;
    border-radius: .5rem;
    padding-bottom: 1.5rem;
}
.day-schedule .history .dtl li{
    flex-flow: column;
}
.day-schedule .history .dtl li + li{
    border-top: 0;
}
.day-schedule .history .dtl-inner li{
    padding:1.5rem 1rem 0 1rem;
    color:#666;
}
.day-schedule .history .dtl-title{
    font-size: 1rem;
    font-weight: 500;
line-height: 1.35;}
.day-schedule .history .dtl-title>b{
    color:#111;
}
.day-schedule .history .dtl-title-desc{
    margin-top:.5rem;
}
.day-schedule .history .c-gray.up::after{
    content: '▲';
    color:#e04704;
    font-size: .5rem;
}
.day-schedule .history .dtl li span > .won{
    display: inline-block;
}
.day-schedule .history .dtl .inner-title{
    color:#666;
    line-height: 1.5;
}
.day-schedule .history .dtl .inner-title>b{
    color:#111;
}
.day-schedule .history .dtl .ico-area{
    flex:0 0 25%;
    max-width: 4rem;
}
.day-schedule .history .dtl .title-area{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.day-schedule .history .dtl .ico-area + .title-area{
    flex:0 0 75%;
    max-width: calc(100% - 4rem);
}

.btn-area.fixed-bottom.bn-img{
    padding:0;
    height: fit-content;
}

/* coin list */
.coin-list{
    position:relative;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    box-sizing: border-box;
    padding-right: 6rem;
    
}
.coin-list>div{
    flex-flow: row;
    overflow-x: auto;
}
.coin-list .list-box{
    border:1px solid #ccc;
    border-radius: 5px;
    width: 4rem;
    height: 3.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: .5rem;
}
.coin-list .btn{
    position:absolute;
    right:0;
}

/* weekly-report */
.weekly-report{
    margin-top:.5rem;
    padding:1rem;
    background-color: #f5f5f5;
    border-radius: 1rem;
    text-align: justify;
    font-size: .8rem;
}
.weekly-report .title-area{
    display: flex;
    flex-flow: column;
    font-size: 1rem;
}
.weekly-report .tit-ico{
    display: inline-flex;
    width: fit-content;
    background-color: #e3f8fd;
    border:1px solid #01b1c8;
    color:#01b1c8;
}
.weekly-report .title-area .tit{
    margin:.5rem 0;
}
.weekly-report .title-desc>span{
    display: block;
    margin:.3rem 0;
    line-height: 1.35;
    font-weight: normal;
    word-break: keep-all;
}
.weekly-report .title-desc>span>em{
    font-weight: 500;
}

/* btn ico resize */
.btn-xs i{
    margin-top:3px;
    margin-left: 5px;
    margin-bottom: -5px;
}


/* month Swiper */
.month-wrp{
    width: 7.35rem;
    overflow: hidden;
    position: relative;
    padding-left: 1rem;
}
.month-wrp .swiper-container-rtl .swiper-button-prev,
.month-wrp .swiper-button-prev, 
.month-wrp .swiper-button-next, 
.month-wrp .swiper-container-rtl .swiper-button-next{
    background-image:url(../images/common/ico-btn-arrow2.png);
    background-size: contain;
    width: .5rem;
    height: .5rem;
    background-position: center;
    top: 1.9rem;
}
.month-wrp .swiper-container-rtl .swiper-button-prev,
.month-wrp .swiper-button-prev{
    left: 0;
    transform: rotate(0);
}
.month-wrp .swiper-button-next, 
.month-wrp .swiper-container-rtl .swiper-button-next{
    transform: rotate(180deg);
    right:0;
}