@charset "utf-8";

div,h1,h2,h3,h4,h5,h6,p,span,ul,ol,li{
    box-sizing: border-box;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.accordion .dtl{
    display: none;
}

.scroll-x{
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
}

/* sch header */
#header{
    background-color: #fff;
}

main .ico{background-repeat: no-repeat;background-position: center;background-size: contain;}

/* sch cont wrp */
.sch-cont-wrp{
    padding:30px 25px;
}

/* sch cate-wrap */
.cate-wrap{
    position: unset;    
    padding: 0.5rem 1.5rem;
    margin: 1rem auto;
}
.cate-wrap .inner{
    border-bottom: 0;
}
.cate-wrap ul{
    flex-wrap:unset;width: 100%;margin: 0 auto;}
.cate-wrap button{
    width: max-content;
}
.cate-wrap ul>li:last-child{
    padding-right: 30px;
}